:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #75757575;
    --gris-claro: #dfe9f3;
}

.krub-regular {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.krub-semibold {
    font-family: "Krub", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.krub-bold {
    font-family: "Krub", sans-serif;
    font-weight: 700;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

html {
    font-size: 81.25%;
    box-sizing: border-box;
    /* 
    13px / 16px = 0.8125 * 100 = 81.25
    */

    scroll-snap-type: y mandatory;
    /*
*/
}

body {
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    /* 
    esto es lo que mide por defecto el navegador, 
    pero se puede meter mas o menos px 
    */
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%);
}

.btn-secondary {
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--secundario);
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    text-align: center;
    border: none;
}

.btn-secondary:hover {
    cursor: pointer;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}

.card {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Sirve para hacer el scroll por secciones */
.card__services,
.nav-principal,
.form {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.card__services_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.card__services_section h3 {
    color: var(--secundario);
    font-weight: normal;
}

.card__services_section p {
    line-height: 2;
    text-align: center;
}

.form {
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.form legend {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--primario);
}

.footer {
    text-align: center;
}

.hero {
    background-image: url('../imgs/hero.jpg');
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* forma anterior */
    /* background-color: rgb(0,0,0, 0.6);  */
    /* nueva forma */
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
}

.hero-content h2,
.hero-content p {
    color: var(--blanco);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    background-color: var(--primario);
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}


.input {
    margin-bottom: 0.8rem;
}

.input label {
    color: var(--blanco);
    fontweight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.input textarea {
    height: 20rem;
}

.nav-principal {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--secundario);
    font-size: 1rem;
    font-weight: bold;
}

.nav-principal a {
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem;
}

.nav-principal a:hover {
    color: var(--oscuro);
    background-color: var(--primario);
}

.title span {
    font-size: 2rem;
}

.location {
    display: flex;
    align-items: flex-end;
}

.send .btn-secondary {
    margin-top: 3rem;
    width: 100%;
}

@media (min-width: 768px) {
    .btn-secondary {
        width: auto;
    }

    .card__services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .form__input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;

    }

    .input:nth-child(3),
    .input:nth-child(4) {
        grid-column: 1 / 3;
    }
}

@media (min-width: 1140px) {}

@media (max-width: 767px) {
    html {
        font-size: 62.5%;
        /* 
        10px / 16px = 0.625 * 100 = 62.5
        */
    }

    .nav-principal {
        flex-direction: column;
        align-items: center;
    }
}